
@{
    ViewBag.Title = "Admin Dashboard";
}

<h2>Index</h2>
<p>
    @Html.ActionLink("Location","Index","Locations")
</p>
<p>
    @Html.ActionLink("Categories", "Index", "PostTypes")
</p>
<p>
    @Html.ActionLink("Display Users", "DisplayUsers")
</p>