
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<p>
    @Html.ActionLink("Add User to Admin","ChangeUserToAdmin")
</p>
<p>
    @Html.ActionLink("Location","Index","Locations")
</p>
<p>
    @Html.ActionLink("Categories", "Index", "PostTypes")
</p>
