
@model Data.Models.HomePageViewModel

@{
    ViewBag.Title = "CraigsList";
}

<div class="container">
    <div class="row">
        <div class="col-sm-2" style="background-color: wheat;">
            One of three columns
        </div>

        <div class="col-sm-8">
            <div class="row">
                <div class="col-sm-8">
                    Current location and locales
                </div>
            </div>
            <div class="row">
                @foreach (KeyValuePair<string, List<string>> keyValuePair in Model.AllCategories)
                {
                <div class="col-sm-4">
                    <div class="card" style="max-width: 18rem; margin: 10px; height: 150px;">
                        <div class="card-title text-center">
                            @Html.ActionLink(keyValuePair.Key, "")
                        </div>
                        <div class="pre-scrollable" style="overflow-y: auto; max-height: 140px;">
                            <div class="card-text">
                                <ul class="list-group">
                                    @foreach (string subcategory in keyValuePair.Value)
                                    {
                                        <li class="list-group-item text-center">
                                            @Html.ActionLink(subcategory, "", "")
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                }
            </div>
        </div>

        <div class="col-sm-2" style="background-color: wheat;">
            One of three columns here
        </div>

    </div>
</div>