@model Data.Models.HomePageViewModel

@{
    ViewBag.Title = "CraigsList";
}

<div class="container">
    <div class="row">
        <div class="col-sm-2" style="background-color: wheat;">
            One of three columns
        </div>

        <div class="col-sm-8">
            <div class="row">
                <div class="col-sm-8">
                    Current location and locales
                </div>
            </div>
            <div class="row">
                <div class="col-sm-5">
                    @foreach (KeyValuePair<string, List<string>> keyValuePair in Model.AllCategories)
                    {
                        <div class="card border-success mb-3" style="max-width: 18rem;">
                            <div class="card-header">
                                @keyValuePair.Key
                            </div>
                            <ul class="list-group list-group-flush">
                                @foreach (string subcategory in keyValuePair.Value)
                                {
                                    <li class="list-group-item">
                                        @subcategory
                                    </li>
                                }
                            </ul>
                        </div>
                    }
                </div>
                <div class="col-sm-5">
                    housing, for sale
                </div>
                <div class="col-sm-2" style="background-color: wheat;">
                    jobs, gigs
                </div>
            </div>
        </div>

        <div class="col-sm-2" style="background-color: wheat;">
            One of three columns
        </div>

    </div>
</div>